@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-screen w-screen bg-neutral-100;
}

button {
  @apply truncate  flex items-center text-center;
}

label {
  @apply ml-1;
}

input {
  @apply mb-2 w-full border-2 border-neutral-200 bg-white p-1 text-base transition-all focus:border-r-2 focus:border-neutral-800;
}

h1 {
  @apply text-xl font-bold;
}

h2 {
  @apply text-lg font-bold;
}

.sectionContainer {
  @apply  drop-shadow-xl bg-white m-2 p-4 rounded-md;
}

.formContainer {
  @apply mb-2 mt-2;
}

.formHeader {
  @apply flex justify-between items-center text-lg font-medium border-4 border-r-4 border-neutral-200 px-2 py-1;
}

.formHeader > button:first-of-type {
  @apply w-full text-left;
}

.formBorder {
  display:none;
  @apply  opacity-0 bg-white border-b-4 border-l-4 border-r-4 border-neutral-200 px-2;
}

.visible{
  display: block;
  animation: 0.2s dropdown-animate;
  transform-origin: top;
  @apply  opacity-100
}

@keyframes dropdown-animate {
  0%{
    transform: scaleY(0);
  }

  100%{
    transform: scaleY(1);
  }
}

.addFormButton {
  @apply flex justify-end;
}

.addFormButton > button {
  @apply rounded-2xl bg-orange-500 px-3 py-1 transition-colors hover:bg-orange-300 active:scale-95;
}

.deleteForm {
  @apply rounded-2xl p-1 transition-colors hover:bg-neutral-300;
}

i{@apply transition}

i.expand{
  @apply rotate-180
}